@use "../variables" as *;
@use "../mixins" as *;


.pictures {
    width: 100%;
    margin-bottom: 15%;

    .content {
        width: 100%;
        position: relative;
        aspect-ratio: 500 / 900;



        .flower {
            max-width: 80px;
            width: 100%;
            height: auto;
            position: absolute;
        }

        .flower_left {
            top: 27%;
            left: 4%;
            z-index: 8;
        }

        .flower_right {
            top: 31%;
            left: 41%;
            z-index: 5;
            transform: scaleX(-1);
        }

        .flower_pic04 {
            max-width: 91px;
            width: 100%;
            height: auto;
            position: absolute;
            bottom: 2%;
            left: 43%;
            z-index: 7;
        }

        .picture {
            position: absolute;
            width: 100%;
            aspect-ratio: 5 / 7;
            max-width: 190px;
        }

        .picture01 {
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/ngan-duc/pictures/1.webp') no-repeat center / cover;
            top: 12%;
            left: 12%;
            transform: rotate(3deg);
        }

        .picture02 {
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/ngan-duc/pictures/2.webp') no-repeat center / cover;
            top: 14%;
            left: 50%;
            z-index: 4;
            transform: rotate(-5deg);
        }

        .picture03 {
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/ngan-duc/pictures/3.webp') no-repeat center / cover;
            top: 41%;
            left: 30%;
            z-index: 6;
            transform: rotate(1deg);
        }

        .picture04 {
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/ngan-duc/pictures/4.webp') no-repeat center / cover;
            top: 69%;
            left: 10%;
            z-index: 7;
            transform: rotate(-7deg);
        }

        .picture05 {
            background: url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/ngan-duc/pictures/5.webp') no-repeat center / cover;
            top: 67%;
            left: 53%;
            transform: rotate(6deg);
        }

        @media (max-width: 500px) {
            .flower {
                max-width: calc((80 / 500) * 100vw);
            }

            .flower_pic04 {
                max-width: calc((91 / 500) * 100vw);
            }

            .picture {
                max-width: calc((190 / 500) * 100vw);
            }

            .picture01 {
                max-width: calc((198 / 500) * 100vw);

                .flower {
                    max-width: calc((80 / 500) * 100vw);
                }
            }

            .picture02 {
                max-width: calc((217 / 500) * 100vw);
            }

            .picture03 {
                max-width: calc((188 / 500) * 100vw);
            }

            .picture04 {
                max-width: calc((234 / 500) * 100vw);

                .flower_pic04 {
                    max-width: calc((91 / 500) * 100vw);
                }
            }

            .picture05 {
                max-width: calc((249 / 500) * 100vw);
            }
        }
    }
}