@use "../variables" as *;
@use "../mixins" as *;

.timeline {
    width: 100%;
    background-color: #859186;

    .content {
        width: 100%;
        aspect-ratio: 500 / 980;
        background:
            url('../../assets/images/line_tl_bg.png') no-repeat 50% 0% / 70%,
            linear-gradient(to bottom, #859186, #859186, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.126), rgba(0, 0, 0, 0.126), rgba(0, 0, 0, 0.101)),
            url('../../assets/images/timeline_bg.jpg') no-repeat 100% 100% / 100%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: relative;
        color: white;

        .title {
            font-family: $font-DK-Cool-Crayonr;
            font-size: 32px;
            font-weight: 300;
            margin-top: 20%;
        }

        .wax {
            position: absolute;
            top: -4%;
            max-width: 86px;
            width: 100%;
            height: auto;
        }
    }

    .items {
        margin-top: 5%;
        width: 100%;

        .item {
            margin-bottom: 8%;

            .icon {
                @include flex-center;
                margin-bottom: 1%;

                img {
                    max-width: 28px;
                    width: 100%;
                    height: auto
                }
            }

            .time {
                @include flex-center;
                flex-direction: column;
                font-size: 12px;

                i {
                    font-size: 11px;
                }
            }

            &:nth-of-type(2) .icon img {
                max-width: 38px;
            }

            // &:nth-of-type(4) .icon img {
            //     max-width: 28px;
            // }

            // &:nth-of-type(5) .icon img {
            //     max-width: 28px;
            // }
        }
    }

    .dresscode {
        margin-top: 14%;

        .title {
            margin-bottom: 2%;
        }

        .subtext {
            font-size: 14px;
            margin-bottom: 2%;
        }

        .palette {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0;

            .swatch {
                max-width: 31px;
                aspect-ratio: 1;
                width: 100%;
                border-radius: 50%;
                border: 1px solid rgba(255, 255, 255, 0.401);
                margin: 0 -4px;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .text-img {
        margin-top: 4%;
        perspective: 500px;

        img {
            max-width: 104px;
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: 500px) {
        .content {
            .title {
                font-size: calc((32 / 500) * 100vw);
            }

            .wax {
                max-width: calc((86 / 500) * 100vw);
            }
        }

        .items {
            .item {
                .icon {
                    img {
                        max-width: calc((28 / 500) * 100vw);
                    }
                }

                .time {
                    font-size: calc((12 / 500) * 100vw);
                }

                &:nth-of-type(2) .icon img {
                    max-width: calc((38 / 500) * 100vw);
                }
            }
        }

        .dresscode {
            .subtext {
                font-size: calc((14 / 500) * 100vw);
            }

            .palette {
                .swatch {
                    max-width: calc((31 / 500) * 100vw);
                }
            }
        }

        .text-img {
            img {
                max-width: calc((104 / 500) * 100vw);
            }
        }
    }
}