@font-face {
    font-family: 'Lora';
    src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Lora-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../assets/fonts/SVN-Gilroy.woff2') format('woff2'),
        url('../../assets/fonts/SVN-Gilroy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Aboreto-Regular';
    src: url('../../assets/fonts/Aboreto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra-BoldItalic';
    src: url('../../assets/fonts/Almendra-BoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra-Italic';
    src: url('../../assets/fonts/Almendra-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra-Regular';
    src: url('../../assets/fonts/Almendra-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Almendra-Bold';
    src: url('../../assets/fonts/Almendra-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BigelowRules-Regular';
    src: url('../../assets/fonts/BigelowRules-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1FTV-VIP-DK-Cool-Crayon';
    src: url('../../assets/fonts/1FTV-VIP-DK-Cool-Crayon.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
