$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.281);
$radius: 14px;

// Colors
$title-color: #646531ff;
$text-color: #503b28ff;
$pink-color: #c05b7dff;
$secondary-color: #d9d7c3ff;
$bg-color: #fff;

// Font
$font-DK-Cool-Crayonr: '1FTV-VIP-DK-Cool-Crayon', sans-serif;
$font-Aboreto-Regular: 'Aboreto-Regular', sans-serif;
$font-Almendra-BoldItalic: 'Almendra-BoldItalic', sans-serif;
$font-Almendra-Italic: 'Almendra-Italic', sans-serif;
$font-Almendra-Regular: 'Almendra-Regular', sans-serif;
$font-Almendra-Bold: 'Almendra-Bold', sans-serif;
$font-BigelowRules-Regular: 'BigelowRules-Regular', sans-serif;
$font-lora: 'Lora', sans-serif;
$font-gilroy: 'Gilroy', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
